{% extends "report.htm" %}
{% block title %}Phase1 Report for {{ channel.net }}.{{ channel.sta }} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block phase1 %}
    <h1>{{ self.title() }}</h1>
    <div id="quality_metrics">
        <h2>Data Quality Metrics</h2>
        <div id="site_info"></div>
        <div id="sensor_info"></div>
        <div id="metrics"></div>
    </div>
    <p class="important">
      Welcome to my Phase1 Report
    </p>
{% endblock %}
