{% extends "report.htm" %}
{% block title %}Station report for EEW certification: {{ network_code }}.{{ station.code }} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block phase1 %}
    <div id="intro">
        <h2>{{ self.title() }}</h2>
        <h4>{{ starttime.isoformat() }} - {{ endtime.isoformat() }}</h4>
        <a href="./{{ network_code }}.{{ station.code }}.pdf">Link to PDF</a>

        <div id="site_info">
            <table class="table table-bordered">
              <caption>Site Information</caption>
              <thead>
                 <tr>
                  <th>Station</th>
                  <th>Institution</th>
                  <th>Latitude (deg N)</th>
                  <th>Longitude (deg E)</th>
                  <th>Elevation (m)</th>
                  <th>Start Date</th>
                 </tr>
              </thead>
              <tbody>
              <tr>
                  <td>{{network_code }}.{{ station.code }}</td>
                  <td>PNSN</td>
                  <td>{{ station.latitude | round(7,method='common') }}</td>
                  <td>{{ station.longitude | round(7,method='common') }}</td>
                  <td>{{ station.elevation | round() }}</td>
                  <td>{{ (station.start_date).isoformat() }}</td>
              </tr>
              </tbody>
            </table>
        </div>


        <div id="sensor_info">
            <table class="table">
              <caption>Sensor(s)</caption>
              <tr>
                  <th>Channel</th>
                  <th>Sample rate</th>
                  <th>Sensor</th>
              </tr>
              {% for ch in station.channels %}
              {% if ch.location_code == "" %}
                  {% set loc = "--" %}
              {% else %}
                  {% set loc = ch.location_code %}
              {% endif %}
              {% if ch.code in allowed %}
              <tr>
                  <td>{{ ch.code }}.{{ loc }}</td>
                  <td>{{ ch.sample_rate }}</td>
                  <td>{{ ch.sensor.description }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
        </div>

        <div id="timing_info">
            <table class="table table-bordered">
             <caption>Time quality</caption>
             <thead>
             <tr>
              <th>Percentage of data with acceptable Clock locking/quality (%)</th>
              <th>Percentage of data with acceptable Clock drift/phase (%)</th>
             </tr>
             </thead>
             <tbody>
             {% if clock_metrics|length > 0 %}
               <tr>
               {% for nscl in clock_metrics %}
                   {% if "LCQ" in nscl %}
                   <td class="{{ clock_metrics[nscl]["clock_lock_lcq"][1] }}">{{ clock_metrics[nscl]["clock_lock_lcq"][0] }}</td>
                   {% elif "LCE" in nscl %}
                   <td class="{{ clock_metrics[nscl]["clock_phase_lce"][1] }}">{{ clock_metrics[nscl]["clock_phase_lce"][0] }}</td>
                   {% endif %}
               {% endfor %}
               </tr>
             {% else %}
               <tr>
                   <td>no information</td>
                   <td>no information</td>
               </tr>
             {% endif %}
             </tbody>
            </table>
        </div>

    </div>



    <div id="promptness_info">
        <h3>Data Promptness Metrics</h3>
        <div id="description">
          <p>Collected from earthworm WAVE_RING using sniffwave_tally</p>
        </div>
        <div id="promptness_metrics">
            <table class="table">
              <tr>
                  <th>Channel</th>
                  <th>Measurement period</th>
                  <th>Percentage of data with acceptable latency</th>
                  <th>Percent completeness</th>
                  <th>Percent completeness incl. gap penalties</th>
                  <th>Number of gaps per hour</th>
              </tr>
              {% if latency_metrics|length > 0 %}
                {% for nscl in latency_metrics %}
                <tr>
                    <td>{{ nscl }}</td>
                    <td>{{ latency_metrics[nscl]["measurement_start"].strftime("%Y-%m-%dT%H:%M:%S") }} - {{ latency_metrics[nscl]["measurement_end"].strftime("%Y-%m-%dT%H:%M:%S") }} ({{ latency_metrics[nscl]["window_length"] }} seconds)</td>
                    <td class="{{ latency_metrics[nscl]["acceptable_latency"][1] }}">{{ latency_metrics[nscl]["acceptable_latency"][0] | round(4,method='common') }}</td>
                    <td class="{{ latency_metrics[nscl]["completeness"][1] }}">{{ latency_metrics[nscl]["completeness"][0] | round(5,method='common') }}</td>
                    <td class="{{ latency_metrics[nscl]["completeness_incl_penalty"][1] }}">{{ latency_metrics[nscl]["completeness_incl_penalty"][0] | round(5,method='common') }}</td>
                    <td class="{{ latency_metrics[nscl]["gaps_per_hour"][1] }}">{{ latency_metrics[nscl]["gaps_per_hour"][0] | round(5,method='common') }}</td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                    <td class="fail">missing</td>
                    <td class="fail">missing</td>
                    <td class="fail">missing</td>
                    <td class="fail">missing</td>
                    <td class="fail">missing</td>
                    <td class="fail">missing</td>
                </tr>
              {% endif %}
            </table>
        </div>
    </div>

    <div id="quality_metrics">
        <h3>Data Quality Metrics</h3>
        <div id="description">
            <h4>Measurement period: {{ starttime.isoformat() }} - {{ endtime.isoformat() }} ({{ (endtime-starttime) }})</h4>
        </div>
        <div id="metrics">
            <table class="table">
              <tr>
                  <th>Channel</th>
                  <th>Number of noise glitches per hour</th>
                  <th>Acceptable RMS exceded in s per hour</th>
              </tr>
              {% for nscl in metrics %}
              <tr>
                  <td>{{ nscl }}</td>
                  <td class="{{ metrics[nscl]["spikes_per_hour"][1] }}">{{ metrics[nscl]["spikes_per_hour"][0] | round(5,method='common')}}</td>
                  <td class="{{ metrics[nscl]["rms_exceeded_per_hour"][1] }}">{{ metrics[nscl]["rms_exceeded_per_hour"][0] | round(5,method='common') }}</td>
              </tr>
              {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
